@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
}

html {
    font-size: 16px;
    font-family: sans-serif;
}

html,
body {
    height: 100%;
}

html,
body,
#root {
    min-height: 100%;
}

body {
    position: relative;
}

#root {
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
    display: flex;
    flex-direction: column;
}

button {
    border: none;
}

.form-field-grid-container {
    align-items: center;
    column-gap: 0.5rem;
    display: grid;
    grid-template-columns: [label] auto [required] auto [input] 1fr [updated] auto [end];
    row-gap: 0.5rem;
}

.form-field-grid-row-label {
    grid-column: label / label;
}
.form-field-grid-row-required {
    grid-column: required / required;
}
.form-field-grid-row-input {
    grid-column: input / input;
}
.form-field-grid-row-updated {
    grid-column: updated / updated;
}
.form-field-grid-row-all {
    grid-column: label / end;
}

hr {
    @apply border;
    @apply border-gray-400;
}

.list-deleteable li:hover {
    cursor: pointer;
    list-style-type: "\274C";
}
.list-addable li:hover {
    cursor: pointer;
    list-style-type: "\2705";
}
