@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
}

html {
    font-size: 16px;
    font-family: sans-serif;
}

html,
body {
    height: 100%;
}

html,
body,
#root {
    min-height: 100%;
}

body {
    position: relative;
}

#root {
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
    display: flex;
    flex-direction: column;
}

button {
    border: none;
}

.form-field-grid-container {
    align-items: center;
    column-gap: 0.5rem;
    display: grid;
    grid-template-columns: [label] auto [required] auto [input] 1fr [updated] auto [end];
    row-gap: 0.5rem;
}

.form-field-grid-row-label {
    grid-column: label / label;
}
.form-field-grid-row-required {
    grid-column: required / required;
}
.form-field-grid-row-input {
    grid-column: input / input;
}
.form-field-grid-row-updated {
    grid-column: updated / updated;
}
.form-field-grid-row-all {
    grid-column: label / end;
}

hr {
    @apply border;
    @apply border-gray-400;
}

.list-deleteable li:hover {
    cursor: pointer;
    list-style-type: "\274C";
}
.list-addable li:hover {
    cursor: pointer;
    list-style-type: "\2705";
}

.ql-toolbar.ql-snow {
    background: #003950;
}
div.ql-snow.ql-toolbar button {
    color: #fff;
    background: #f8962d;
    margin: 0 3px 0 0;
}
.ql-snow.ql-toolbar button svg path,
.ql-snow.ql-toolbar button svg line,
.ql-snow.ql-toolbar button svg rect {
    stroke: #fff;
}
.ql-snow .ql-fill,
.ql-snow .ql-stroke.ql-fill {
    fill: #fff;
}
.login-form-bx form input {
    height: 50px;
    width: 100%;
    border: none;
    border-bottom: 2px solid #ed8936;
}

.bg-nevy-500 {
    background: #003950;
}
div.ql-snow .ql-stroke {
    stroke: #fff;
}

.ql-toolbar.ql-snow .ql-formats > span {
    background: #f8962d;
    height: 26px;
}
div.ql-snow .ql-fill,
div.ql-snow .ql-stroke.ql-fill {
    fill: #fff;
}
.ql-snow .ql-picker-label::before {
    display: inline-block;
    line-height: 22px;
    color: #fff;
    position: relative;
    top: -3px;
    font-weight: 600;
    font-size: 13px;
}
.bg-list-gray li {
    background: #f3f4f6;
    margin: 0 0 10px;
    padding: 10px 23px;
    border-radius: 100px;
    font-size: 15px;
    position: relative;
}
.bg-list-gray li::marker {
    font-size: 0;
}
.bg-list-gray li:after {
    /* content: "\f105"; */
    position: absolute;
    right: 10px;
    font-family: FontAwesome;
    font-size: 15px;
    background: #e33b27;
    color: #fff;
    content: "\f00d";
    width: 25px;
    height: 25px;
    border-radius: 100px;
    text-align: center;
    top: 8px;
    line-height: 24px;
}

.login-form-bx label {
    color: #ed8936;
    margin: 0 0 12px;
}
.login-form-bx form {
    max-width: 400px;
    width: 100%;
}
.header-top-banner {
    border-bottom: 3px solid #ed8936;
}
.save-btn-list button.bg-gray-600 {
    height: 48px;
    margin: 8px 10px 0 0;
    border-radius: 0;
}
.save-btn-list button[color="blue"].bg-gray-600 {
    background: #023950;
}

.header-img {
    position: absolute;
    top: 0;
    left: 50px;
}
.header-img img {
    width: 160px;
}
.form-field-grid-row-input button.bg-green-500 {
    height: 50px;
    border-radius: 0;
    box-shadow: inherit;
}

.product-basic-1 select.form-field-grid-row-input,
input.form-field-grid-row-input {
    height: 50px;
    background: #f2f2f2;
    border-radius: 0;
    padding: 0 5px;
    margin: 0 17px 0 0;
    border: none;
}

input.form-field-grid-row-input[type="checkbox"],
input.form-field-grid-row-input[type="radio"] {
    height: auto;
}

.product-basic-1 .form-field-grid-row-input .pr-2 button[color="red"] {
    border-radius: 100px;
    height: 30px;
    width: 30px;
}
.td-save-btn button {
    margin: 0 10px 0 0;
    height: 50px;
    padding: 0 15px;
    box-shadow: inherit;
    border-radius: 0;
}
.td-save-btn button[color="blue"] {
    background: #023950;
}
.close-button button {
    padding: 0;
    width: 30px;
    height: 30px;
    border-radius: 100px;
    background: #f56565;
}
.header-top-banner {
    background-image: url("./images/header-bg");
    height: 230px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.sidebar {
    padding: 50px 30px;
}
.sidebar-menu-left ul li {
    margin: 0 0 15px;
}
.sidebar-menu-left ul li a {
    color: #ed8936;
    text-decoration: none;
    text-transform: capitalize;
}

.sidebar-menu-left ul li a:hover {
    color: #fff;
}
ul.submenu-drop {
    padding: 8px 0 0 20px;
}
.logout-menu {
    margin: 50px 0 0;
}
.logout-menu h5 {
    color: #fff;
    margin: 0 0 15px;
}
.logout-menu ul li a {
    color: #ed8936;
}

.select-option button.my-2 {
    margin: 0;
}
.bg-list-selected ul li {
    background: #f3f4f6;
    margin: 0 0 10px;
    padding: 10px 23px;
    border-radius: 100px;
    font-size: 15px;
    position: relative;
}
.bg-list-selected .close-button button {
    padding: 0;
    width: 30px;
    height: 30px;
    border-radius: 100px;
    background: #f56565;
    position: absolute;
    right: 5px;
    top: -2px;
}
label.form-field-grid-row-label {
    color: #ed8936;
}
.formfieldgrid-step3 button[color="blue"] {
    height: 50px;
    border-radius: 0;
    box-shadow: inherit;
    padding: 0 20px;
    background: #023950;
}
.form-field-grid-row-label {
    color: #ed8936;
}
.organisation-block-bx .form-field-grid-row-input button.bg-gray-600 {
    height: 50px;
    box-shadow: inherit;
    border-radius: 0;
    padding: 0 20px;
    background: #f8962d;
}
.organisation-block-bx
    .form-field-grid-row-input
    button[color="blue"].bg-gray-600 {
    background: #023950;
}
